{% extends 'base.html' %}
{% load static %}


{% block content %}

<section class="relative mb-10 md:-mb-10 lg:-mb-20">
   <div class="bg-dark-100 h-64 sm:hidden"></div>
   <svg xmlns="http://www.w3.org/2000/svg"
      class="w-full scale-x-[2.2] translate-x-[-60%] sm:scale-100 sm:translate-x-0 sm:translate-y-0 -translate-y-1 origin-top md:scale-y-75"
      viewBox="0 0 1921.964 772.07">
      <path id="Path_66" data-name="Path 66"
         d="M3910.709,468.329,2869.224,562.49l-877.188-36.182,992.478,314.539,926.195-314.539Z"
         transform="translate(-1988.744 -68.778)" fill="#46e317" />
      <path id="Path_65" data-name="Path 65"
         d="M1988.744,69.137l1921.964-.359L3910.289,515l-1194.54,300.78-727-289.469Z"
         transform="translate(-1988.744 -68.778)" fill="#1e1e1e" />
   </svg>
   <div class="absolute top-0 left-0 w-full h-full md:pb-20 grid place-content-center">
      <h1
         class="text-6xl text-center font-bold text-white relative after:absolute after:w-1/2 after:h-1 after:bg-primary-500 after:-bottom-2 after:left-1/2 after:-translate-x-1/2">
         About us</h1>
   </div>
</section>

<main>
   <!-- intro -->
   <section>
      <div class="sm:container mx-auto grid sm:grid-cols-2">
         <p class="p-4 sm:p-0 sm:pr-8">
            As the name suggests, CONKARAS UGANDA LIMITED became a listed entity and incorporated on the 1st of August,
            2017 in accordance with the requirements of the laws of Uganda. It is evolving to being a diversified
            construction, infrastructure concessions and services company with an established and growing international and
            home client base engaged in resources, energy and infrastructure delivery.
            <br><br>
            The Company’s business approach is encapsulated in its positioning statement of “Structured Ingenuity”: The
            word “structured” articulates Conkaras Uganda Limited’s ability to deliver products and services according to a
            tested methodology.
            <br><br>
            The word “ingenuity” reflects the group’s ethos of meeting challenges with innovative solutions. Conkaras (U)
            Ltd relies on the demand for engineering and construction services that support gross fixed capital formation
            (GFCF). The company has a clear strategy of using its collective skills and understanding of markets to develop
            a unique value proposition to clients.
         </p>
         <div class="p-8 text-white bg-primary-100 mt-4 sm:mt-0">
            <h3 class=" font-semibold text-lg">MISSION</h3>
            <p class="text-leads">To increase stakeholders’ Value</p>
            <h3 class=" font-semibold text-lg mt-8">VISION</h3>
            <p class="text-leads">A firm that upholds best practice in fostering construction & engineering services and
               high quality works.</p>
            <h3 class=" font-semibold text-lg mt-8">GOALS</h3>
            <ul class="text-leads">
               <li>To meet clients demand</li>
               <li>To execute clients work and deliver it in time.</li>
               <li>To provide high quality works.</li>
            </ul>
         </div>
      </div>
   </section>
   <!-- core values -->
   <section class="py-16 sm:py-20">
      <div class="container mx-auto">
         <h2 class="font-semibold text-3xl mb-6">Core values</h2>
         <ul class="text-grey-800 list-disc">
            <li>Corporate services</li>
            <li>Customer sensitivity</li>
            <li>Honesty and integrity</li>
            <li>Commitment at all levels</li>
            <li>Professionalism</li>
            <li>Transparency and accountability</li>
         </ul>
      </div>
   </section>
   <!-- code of ethics -->
   <section>
      <div class="container mx-auto">
         <h2 class="font-semibold text-3xl mb-6">Code of Ethics</h2>
         <div>
            <p>
               Conkaras Uganda Limited’s Code of Conduct outlines expected behaviors for all Conkaras employees. Conkaras
               will conduct its business fairly, impartially, in an ethical and proper manner, and in full compliance with
               all applicable laws and regulations. In conducting its business, integrity must underline all company
               relationships, including those with customers, suppliers, communities and among employees. The highest
               standards of ethical business conduct are required of Conkaras employees in the performance of their company
               responsibilities. Employees will not engage in conduct or activity that may raise questions as to the
               company’s honesty, impartiality, or reputation or otherwise cause embarrassment to the company.
            </p>
            <h3 class="font-semibold mt-8">Employees will ensure that: </h3>
            <p class="mb-4">
               They do not engage in any activity that might create a conflict of interest for the company or for
               themselves individually.
            </p>
            <p class="mb-4">
               They do not take advantage of their Conkaras position to seek personal gain through the inappropriate use of
               Conkaras or non-public information or abuse of their position. This includes not engaging in insider
               trading.
            </p>
            <p class="mb-4">
               They will follow all restrictions on use and disclosure of information. This includes following all
               requirements for protecting Conkaras information and ensuring that non-Conkaras proprietary information is
               used and disclosed only as authorized by the owner of the information or as otherwise permitted by law.
            </p>
            <p class="mb-4">
               They observe that fair dealing is the foundation for all of our transactions and interactions. They will
               protect all company, customer, and supplier assets and use them only for appropriate company-approved
               activities.
            </p>
            <p class="mb-4">
               Without exception, they will comply with all applicable laws, rules, and regulations.
            </p>
            <p class="mb-4">
               They will promptly report any illegal or unethical conduct to management or other appropriate authorities
               (i.e., Ethics, Law, Security, and EEO).
            </p>
            <p class="mb-4">Every employee has the responsibility to ask questions, seek guidance, and report suspected
               violations of this code of Conduct. </p>
            <p class="">Retaliation against employees who come forward to raise genuine concerns will not be tolerated.
            </p>
         </div>
      </div>
   </section>
   <!-- Healthy and safety policy -->
   <section class="mt-16 sm:mt-20">
      <div class="container mx-auto">
         <h2 class="text-3xl font-semibold mb-6">Health and Safety Policy</h2>
         <div>
            <p class="mb-4">
               At Conkaras we believe the protection of the environment is an important element of our corporate culture
               and that no process is so important that we cannot find a safe, healthy and environmentally sound way of
               carrying out our projects.
            </p>
            <p class="mb-4">
               When constructing projects in environmentally sensitive areas, such as critical dunes or wetlands, we work
               with local agencies to ensure strict enforcement of all applicable laws, ordinances, and directives. We
               routinely segregate construction waste for recycling when applicable on project job sites.
            </p>
            <p class="mb-4">Conkaras Uganda Limited is committed to providing work places which are safe, healthy and
               friendly environments where safe working practices are insisted upon. We want everyone to encourage
               responsible behavior and to contribute positively to seeking safer and more productive ways to work. </p>
            <h3 class="font-semibold">Directors Responsibilities for Health & Safety:</h3>
            <p class="mb-4">We know that the health and safety culture comes from the top of the company. Our directors are
               committed to the values and the policies set out in this document. In accordance with this policy, the
               directors and management endorse the following action points: </p>
            <p class="mb-4">
               The directors accept formally and publicly its collective role in providing health and safety leadership for
               the company.
            </p>
            <p class="mb-4">
               The directors require all management functions within the company to be carried out in a manner that
               reflects the health and safety intentions of this policy statement.
            </p>
            <p class="mb-4">
               The directors accept their role in engaging the active participation of workers in improving health and
               safety
            </p>
            <h3 class="font-semibold">It is our policy to provide:</h3>
            <p class="mb-4">
               A place of work, systems of work and plant that are safe and do not pose a risk to the health, safety and
               welfare of our employees, independent contractors, members of associated companies and the general public,
               so far as it is reasonably practicable to do so.
            </p>
            <p class="mb-4">
               Appropriate information, instruction, training and supervision for all employees.
            </p>
            <p class="mb-4">
               The allocation of sufficient resources to enable the health and safety policy to function effectively.
               Regular consultation with employees, contractors, environmental health officers and other relevant
               organizations.
            </p>
            <p class="mb-4">
               Regular assessment of operational performance, incident investigation reports and audit information through
               a system of management review meetings in order to ensure continual improvement.
            </p>
            <p class="mb-4">Commitment to ensuring health and safety matters are an integral part of the business. </p>
            <p class="mb-4">
               Commitment to complying with statutory requirements, approved codes of practice, recognized guidelines and
               other relevant industry standards.
            </p>
            <p class="mb-4">
               Commitment to the understanding of changes in working arrangements which have significant implications for
               Health and Safety Technical guidance and supporting information in order to assist management in developing
               risk assessments and associated method statements.
            </p>
         </div>
      </div>
   </section>
   <!-- out team -->
   <section class="my-16 sm:my-20">
      <div class="container mx-auto">
         <h2 class="text-3xl font-semibold mb-6">Our Team</h2>
         <div class="grid sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5 gap-6">
            
            {% for person in people %}
               <div class="text-center">
                  <img src="{{ person.image.url }}" alt="{{ person.name }}" class="aspect-[3/3.5] object-cover">
                  <h3 class="font-bold mt-2 mb-1 uppercase">{{ person.position }}</h3>
                  <p>{{ person.full_name }}</p>
               </div>
            {% endfor %}
               
         </div>
      </div>
   </section>
</main>

{% endblock content %}
<main id="about" class="container mx-auto py-8 px-2 text-lg">
   <h2 class="text-3xl font-bold hidden">About Us</h2>
   <img src="{% static 'images/logo.jpg' %}" alt="Company logo" class="h-32 mb-4">
   <p class="mb-8">
      As the name suggests, CONKARAS UGANDA LIMITED became a listed
      entity and incorporated on the 1st of August, 2017 in accordance with the
      requirements of the laws of Uganda. It is evolving to being a diversified
      construction, infrastructure concessions and services company with an
      established and growing international and home client base engaged in
      resources, energy and infrastructure delivery. The Company’s business
      approach is encapsulated in its positioning statement of “Structured
      Ingenuity”: The word “structured” articulates Conkaras Uganda Limited’s
      ability to deliver products and services according to a tested methodology.
      The word “ingenuity” reflects the group’s ethos of meeting challenges with
      innovative solutions. Conkaras (U) Ltd relies on the demand for engineering
      and construction services that support gross fixed capital formation
      (GFCF). The company has a clear strategy of using its collective skills and
      understanding of markets to develop a unique value proposition to clients.
   </p>
   <h3 class="text-xl font-bold mb-4">Vision</h3>
   <p class="mb-8">To increase stakeholders’ Value</p>
   <h3 class="text-xl font-bold mb-4">Mission</h3>
   <p class="mb-8">A firm that upholds best practice in fostering construction &
      engineering services and high quality works.</p>
   <h2 class="text-2xl text-green-900 font-bold mb-4">Core Values</h2>
   <ol class="mb-8" type="1">
      <li>Corporate services</li>
      <li>Customer sensitivity</li>
      <li>Honesty and integrity</li>
      <li>Commitment at all levels</li>
      <li>Professionalism</li>
      <li>Transparency and accountability</li>
   </ol>
   <h2 class="text-2xl text-green-900 font-bold mb-4">Our Team</h2>
   <ul class="mb-12 grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-4">
      <li class="flex flex-col items-center p-6 bg-white rounded-lg shadow-lg">
         <img src="static/img/team-member-1.jpg" alt="Team member 1" class="h-32 mb-4 rounded-full">
         <h3 class="text-lg font-bold mb-2">Team Member 1</h3>
         <p class="text-gray-700 mb-2">General Manager</p>
         <a href="#" class="inline-block px-4 py-2 font-bold text-white bg-blue-500 rounded-full">Contact now</a>
      </li>
      <li class="flex flex-col items-center p-6 bg-white rounded-lg shadow-lg">
         <img src="static/img/team-member-2.jpg" alt="Team member 2" class="h-32 mb-4 rounded-full">
         <h3 class="text-lg font-bold mb-2">Team Member 2</h3>
         <p class="text-gray-700 mb-2">Administrator Manager</p>
         <a href="#" class="inline-block px-4 py-2 font-bold text-white bg-blue-500 rounded-full">Contact now</a>
      </li>
      <li class="flex flex-col items-center p-6 bg-white rounded-lg shadow-lg">

         <img src="static/img/team-member-4.jpg" alt="Team member 4" class="h-32 mb-4 rounded-full">
         <h3 class="text-lg font-bold mb-2">Team Member 4</h3>
         <p class="text-gray-700 mb-2">Procurement Officer</p>
         <a href="#" class="inline-block px-4 py-2 font-bold text-white bg-blue-500 rounded-full">Contact now</a>
      </li>
   </ul>
   <h2 class="text-2xl text-green-900 font-bold my-4">Code of Ethics</h2>
   <div class="mb-8">
      <p class="mb-2">
         Conkaras Uganda Limited’s Code of Conduct outlines expected behaviors for all Conkaras employees. Conkaras will
         conduct its business fairly, impartially, in an ethical and proper manner, and in full compliance with all applicable
         laws
         and regulations. In conducting its business, integrity must underline all company relationships, including those with
         customers, suppliers, communities and among employees. The highest standards of ethical business conduct are required
         of Conkaras employees in the performance of their company responsibilities. Employees will not engage in conduct or
         activity that may raise questions as to the company’s honesty, impartiality, or reputation or otherwise cause
         embarrassment to the company.
      </p>
      <h3 class=" font-semibold">Employees will ensure that:</h3>
      <p class="mb-2">
         They do not engage in any activity that might create a conflict of interest for the company or for themselves
         individually. They do not take advantage of their Conkaras position to seek personal gain through the inappropriate use
         of Conkaras or non-public information or abuse of their position. This includes not engaging in insider trading. They
         will follow all restrictions on use and disclosure of information. This includes following all requirements for
         protecting
         Conkaras information and ensuring that non-Conkaras proprietary information is used and disclosed only as authorized
         by the owner of the information or as otherwise permitted by law.
         They observe that fair dealing is the foundation for all of our transactions and interactions. They will protect all
         company, customer, and supplier assets and use them only for appropriate company-approved activities. Without
         exception, they will comply with all applicable laws, rules, and regulations. They will promptly report any illegal or
         unethical conduct to management or other appropriate authorities (i.e., Ethics, Law, Security, and EEO).
      </p>
      <p class="mb-2">
         Every employee has the responsibility to ask questions, seek guidance, and report suspected violations of this Code of
         Conduct. Retaliation against employees who come forward to raise genuine concerns will not be tolerated.
      </p>
   </div>
   <h2 class="text-2xl text-green-900 font-bold mb-4">Health and Safety Policy</h2>
   <div class="mb-8">
      <p class="mb-2">
         At Conkaras we believe the protection of the environment is an important element of our corporate culture and that no
         process is so important that we cannot find a safe, healthy and environmentally sound way of carrying out our projects.
         When constructing projects in environmentally sensitive areas, such as critical dunes or wetlands, we work with local
         agencies to ensure strict enforcement of all applicable laws, ordinances, and directives. We routinely segregate
         construction waste for recycling when applicable on project job sites.
         Conkaras Uganda Limited is committed to providing work places which are safe, healthy and friendly environments
         where safe working practices are insisted upon. We want everyone to encourage responsible behavior and to contribute
         positively to seeking safer and more productive ways to work.
      </p>
      <h3 class="font-semibold">Directors Responsibilities for Health & Safety:</h3>
      <p class="mb-2">
         We know that the health and safety culture comes from the top of the company. Our directors
         Are committed to the values and the policies set out in this document. In accordance with this policy, the directors and
         management endorse the following action points: The directors accept formally and publicly its collective role in
         providing health and safety leadership for the company. The directors require all management functions within the
         company to be carried out in a manner that reflects the health and safety intentions of this policy statement. The
         directors accept their role in engaging the active participation of workers in improving health and safety
      </p>
      <h3 class="semi-bold">It is our policy to provide:</h3>
      <p class="mb-2">
         A place of work, systems of work and plant that are safe and do not pose a risk to the health, safety and welfare of our
         employees, independent contractors, members of associated companies and the general public, so far as it is reasonably
         practicable to do so. Appropriate information, instruction, training and supervision for all employees. The allocation
         of
         sufficient resources to enable the health and safety policy to function effectively. Regular consultation with
         employees,
         contractors, environmental health officers and other relevant organizations. Regular assessment of operational
         performance, incident investigation reports and audit information through a system of management review meetings in
         order to ensure continual improvement. Commitment to ensuring health and safety matters are an integral part of the
         business. Commitment to complying with statutory requirements, approved codes of practice, recognized guidelines and
         other relevant industry standards. Commitment to the understanding of changes in working arrangements which have
         significant implications for Health and Safety Technical guidance and supporting information in order to assist
         management in developing risk assessments and associated method statements.
      </p>
   </div>

</main>