{% extends 'base.html' %}
{% load static %}


{% block content %}

<main id="about" class="container mx-auto py-8 px-2 text-lg">
   <h2 class="text-3xl font-bold hidden">About Us</h2>
   <img src="{% static 'images/logo.jpg' %}" alt="Company logo" class="h-32 mb-4">
   <p class="mb-8">
      As the name suggests, CONKARAS UGANDA LIMITED became a listed
      entity and incorporated on the 1st of August, 2017 in accordance with the
      requirements of the laws of Uganda. It is evolving to being a diversified
      construction, infrastructure concessions and services company with an
      established and growing international and home client base engaged in
      resources, energy and infrastructure delivery. The Company’s business
      approach is encapsulated in its positioning statement of “Structured
      Ingenuity”: The word “structured” articulates Conkaras Uganda Limited’s
      ability to deliver products and services according to a tested methodology.
      The word “ingenuity” reflects the group’s ethos of meeting challenges with
      innovative solutions. Conkaras (U) Ltd relies on the demand for engineering
      and construction services that support gross fixed capital formation
      (GFCF). The company has a clear strategy of using its collective skills and
      understanding of markets to develop a unique value proposition to clients.
   </p>
   <h3 class="text-xl font-bold mb-4">Vision</h3>
   <p class="mb-8">To increase stakeholders’ Value</p>
   <h3 class="text-xl font-bold mb-4">Mission</h3>
   <p class="mb-8">A firm that upholds best practice in fostering construction &
      engineering services and high quality works.</p>
   <h2 class="text-2xl text-green-900 font-bold mb-4">Core Values</h2>
   <ol class="mb-8" type="1">
      <li>Corporate services</li>
      <li>Customer sensitivity</li>
      <li>Honesty and integrity</li>
      <li>Commitment at all levels</li>
      <li>Professionalism</li>
      <li>Transparency and accountability</li>
   </ol>
   <h2 class="text-2xl text-green-900 font-bold mb-4">Our Team</h2>
   <ul class="mb-12 grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-4">
      <li class="flex flex-col items-center p-6 bg-white rounded-lg shadow-lg">
         <img src="static/img/team-member-1.jpg" alt="Team member 1" class="h-32 mb-4 rounded-full">
         <h3 class="text-lg font-bold mb-2">Team Member 1</h3>
         <p class="text-gray-700 mb-2">General Manager</p>
         <a href="#" class="inline-block px-4 py-2 font-bold text-white bg-blue-500 rounded-full">Contact now</a>
      </li>
      <li class="flex flex-col items-center p-6 bg-white rounded-lg shadow-lg">
         <img src="static/img/team-member-2.jpg" alt="Team member 2" class="h-32 mb-4 rounded-full">
         <h3 class="text-lg font-bold mb-2">Team Member 2</h3>
         <p class="text-gray-700 mb-2">Administrator Manager</p>
         <a href="#" class="inline-block px-4 py-2 font-bold text-white bg-blue-500 rounded-full">Contact now</a>
      </li>
      <li class="flex flex-col items-center p-6 bg-white rounded-lg shadow-lg">

         <img src="static/img/team-member-4.jpg" alt="Team member 4" class="h-32 mb-4 rounded-full">
         <h3 class="text-lg font-bold mb-2">Team Member 4</h3>
         <p class="text-gray-700 mb-2">Procurement Officer</p>
         <a href="#" class="inline-block px-4 py-2 font-bold text-white bg-blue-500 rounded-full">Contact now</a>
      </li>
   </ul>
   <h2 class="text-2xl text-green-900 font-bold my-4">Code of Ethics</h2>
   <div class="mb-8">
      <p class="mb-2">
         Conkaras Uganda Limited’s Code of Conduct outlines expected behaviors for all Conkaras employees. Conkaras will
         conduct its business fairly, impartially, in an ethical and proper manner, and in full compliance with all applicable
         laws
         and regulations. In conducting its business, integrity must underline all company relationships, including those with
         customers, suppliers, communities and among employees. The highest standards of ethical business conduct are required
         of Conkaras employees in the performance of their company responsibilities. Employees will not engage in conduct or
         activity that may raise questions as to the company’s honesty, impartiality, or reputation or otherwise cause
         embarrassment to the company.
      </p>
      <h3 class=" font-semibold">Employees will ensure that:</h3>
      <p class="mb-2">
         They do not engage in any activity that might create a conflict of interest for the company or for themselves
         individually. They do not take advantage of their Conkaras position to seek personal gain through the inappropriate use
         of Conkaras or non-public information or abuse of their position. This includes not engaging in insider trading. They
         will follow all restrictions on use and disclosure of information. This includes following all requirements for
         protecting
         Conkaras information and ensuring that non-Conkaras proprietary information is used and disclosed only as authorized
         by the owner of the information or as otherwise permitted by law.
         They observe that fair dealing is the foundation for all of our transactions and interactions. They will protect all
         company, customer, and supplier assets and use them only for appropriate company-approved activities. Without
         exception, they will comply with all applicable laws, rules, and regulations. They will promptly report any illegal or
         unethical conduct to management or other appropriate authorities (i.e., Ethics, Law, Security, and EEO).
      </p>
      <p class="mb-2">
         Every employee has the responsibility to ask questions, seek guidance, and report suspected violations of this Code of
         Conduct. Retaliation against employees who come forward to raise genuine concerns will not be tolerated.
      </p>
   </div>
   <h2 class="text-2xl text-green-900 font-bold mb-4">Health and Safety Policy</h2>
   <div class="mb-8">
      <p class="mb-2">
         At Conkaras we believe the protection of the environment is an important element of our corporate culture and that no
         process is so important that we cannot find a safe, healthy and environmentally sound way of carrying out our projects.
         When constructing projects in environmentally sensitive areas, such as critical dunes or wetlands, we work with local
         agencies to ensure strict enforcement of all applicable laws, ordinances, and directives. We routinely segregate
         construction waste for recycling when applicable on project job sites.
         Conkaras Uganda Limited is committed to providing work places which are safe, healthy and friendly environments
         where safe working practices are insisted upon. We want everyone to encourage responsible behavior and to contribute
         positively to seeking safer and more productive ways to work.
      </p>
      <h3 class="font-semibold">Directors Responsibilities for Health & Safety:</h3>
      <p class="mb-2">
         We know that the health and safety culture comes from the top of the company. Our directors
         Are committed to the values and the policies set out in this document. In accordance with this policy, the directors and
         management endorse the following action points: The directors accept formally and publicly its collective role in
         providing health and safety leadership for the company. The directors require all management functions within the
         company to be carried out in a manner that reflects the health and safety intentions of this policy statement. The
         directors accept their role in engaging the active participation of workers in improving health and safety
      </p>
      <h3 class="semi-bold">It is our policy to provide:</h3>
      <p class="mb-2">
         A place of work, systems of work and plant that are safe and do not pose a risk to the health, safety and welfare of our
         employees, independent contractors, members of associated companies and the general public, so far as it is reasonably
         practicable to do so. Appropriate information, instruction, training and supervision for all employees. The allocation
         of
         sufficient resources to enable the health and safety policy to function effectively. Regular consultation with
         employees,
         contractors, environmental health officers and other relevant organizations. Regular assessment of operational
         performance, incident investigation reports and audit information through a system of management review meetings in
         order to ensure continual improvement. Commitment to ensuring health and safety matters are an integral part of the
         business. Commitment to complying with statutory requirements, approved codes of practice, recognized guidelines and
         other relevant industry standards. Commitment to the understanding of changes in working arrangements which have
         significant implications for Health and Safety Technical guidance and supporting information in order to assist
         management in developing risk assessments and associated method statements.
      </p>
   </div>

</main>


{% endblock content %}