{% extends 'base.html' %}
{% load static %}
  

{% block content %}
  <section id="hero" class="h-96">
    <div id="slideshow" class="relative h-full w-full overflow-hidden">
      <div class="absolute inset-0 slide active">
        <img src="{% static 'temp/images (2).jpeg' %}" alt="Slide 1" class="h-full w-full object-cover">
      </div>
      <div class="absolute inset-0 slide">
        <img src="{% static 'temp/images (3).jpeg' %}" alt="Slide 2" class="h-full w-full object-cover">
      </div>
      <div class="absolute inset-0 slide">
        <img src="{% static 'temp/images (4).jpeg' %}" alt="Slide 3" class="h-full w-full object-cover">
      </div>
    </div>
  
  
  </section>
  
  <section id="introduction" class="bg-gray-100 py-12">
    <div class="container mx-auto px-4">
      <p class="text-gray-700 mb-6 text-center">We are a full-service construction company specializing in custom
        home building, remodeling, and commercial construction. Our team of skilled professionals is dedicated to
        delivering high-quality work and exceptional customer service.</p>
    </div>
  </section>
  
  <section id="our-services" class="container mx-auto py-8 text-white">
    <h2 class="text-5xl font-bold text-center mb-4 text-black">Our Services</h2>
    <div class="grid grid-cols-1 md:grid-cols-3 gap-4 px-2">
      <div class="bg-green-900 rounded-lg shadow-lg">
        <img src="{% static 'temp/images (3).jpeg' %}" alt="Service 1" class="h-48 w-full object-cover"> 
        <div class="p-6">
          <h3 class="text-2xl font-bold mb-2 text-white">Interior Design</h3>
          <p class="text-gray-200 mb-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam vel nisl vel velit
            placerat dignissim at vel diam.</p>
          <a href="{% url 'services:main-page' %}"
            class="inline-block px-4 py-2 font-bold text-gray-100 bg-green-500 rounded-full hover:bg-green-600">
            Learn More
          </a>
        </div>
      </div>
      <div class="bg-white rounded-lg shadow-lg">
        <img src="{% static 'temp/images (3).jpeg' %}" alt="Service 1" class="h-48 w-full object-cover"> 
        <div class="p-6">
          <h3 class="text-2xl font-bold mb-2 text-green-900">Interior Design</h3>
          <p class="text-gray-500 mb-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam vel nisl vel velit
            placerat dignissim at vel diam.</p>
          <a href="{% url 'services:main-page' %}"
            class="inline-block px-4 py-2 font-bold text-gray-100 bg-green-500 rounded-full hover:bg-green-600">
            Learn More
          </a>
        </div>
      </div>
      <div class="bg-green-900 rounded-lg shadow-lg">
        <img src="{% static 'temp/images (3).jpeg' %}" alt="Service 1" class="h-48 w-full object-cover">
        <div class="p-6">
          <h3 class="text-2xl font-bold mb-2 text-white">Interior Design</h3>
          <p class="text-gray-200 mb-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam vel nisl vel velit
            placerat dignissim at vel diam.</p>
          <a href="{% url 'services:main-page' %}"
            class="inline-block px-4 py-2 font-bold text-gray-100 bg-green-500 rounded-full hover:bg-green-600">
            Learn More
          </a>
        </div>
      </div>
    </div>
  </section>
  
  <section id="portfolio" class="bg-gray-100 py-12">
    <div class="container mx-auto px-4">
      <h2 class="text-5xl font-bold mb-6 text-center">Our Portfolio</h2>
      <div class="flex flex-wrap -mx-4">
        
        {% for p in projects %}
          <div class="w-full sm:w-1/2 lg:w-1/3 px-4 trigger">
            <div class="h-full  hover:shado hover:-translate-y-2 hover:scale-105 transition-all rounded-lg overflow-hidden flex flex-col fly-up">
              <img src="{{ p.project.thumbnail.url }}" alt="Completed construction project" class="w-full aspect-video object-cover rounded-lg">
              <div class="py-6 grid h-full">
                <h3 class="font-bold text-xl mb-2">{{ p.project.name }}</h3>
                <p class="text-gray-700 mb-4">{{ p.project.short_description }}</p>
                <a href="{% url 'projects:detail' p.project.pk %}" 
                  class="block mt-auto border border-indigo-600 hover:bg-indigo-700 hover:text-white text-gray-800 font-semibold py-2 px-4 rounded-full w-fit">Learn
                  more</a>
              </div>
            </div>
          </div>
        {% endfor %}
          
      </div>
    </div>
  </section>
  <section id="testimonials" class="bg-gray-100 py-12">
    <div class="container mx-auto px-4">
      <h2 class="text-5xl font-bold mb-6 text-center">What Our Clients Say</h2>
      <div class="flex items-center justify-center mb-6">
        <div class="w-full max-w-md">
          <div class="bg-white shadow-md rounded-lg p-6">
            <p class="text-gray-700 mb-4">"Conkaras did an amazing job on our home renovation. The team was
              professional, efficient, and a pleasure to work with."</p>
            <p class="text-indigo-600 font-semibold">- Jane Doe</p </div>
          </div>
        </div>
        <div class="flex items-center justify-center mb-6">
          <div class="w-full max-w-md">
            <div class="bg-white shadow-md rounded-lg p-6">
              <p class="text-gray-700 mb-4">"We were impressed with the level of attention to detail and the
                communication throughout the process. We highly recommend Conkaras."</p>
              <p class="text-indigo-600 font-semibold">- John Smith</p>
            </div>
          </div>
        </div>
        <div class="flex items-center justify-center mb-6">
          <div class="w-full max-w-md">
            <div class="bg-white shadow-md rounded-lg p-6">
              <p class="text-gray-700 mb-4">"Conkaras exceeded our expectations in every way. We are so happy with the
                end result and will definitely be using them again in the future."</p>
              <p class="text-indigo-600 font-semibold">- Mary Johnson</p>
            </div>
          </div>
        </div>
      </div>
  </section>
  <section id="calltoaction" class=" bg-green-900 py-24">
    <div class="grid text-center text-white">
      <h2 class=" text-5xl font-bold mb-16">Got a project idea for us?</h2>
      <a href="{% url 'contact:main-page' %}" class="p-4 px-6 bg-white w-fit mx-auto rounded-lg text-black text-lg transition-all hover:bg-lime-500 hover:scale-105">Contact us</a>
    </div>
  </section>
{% endblock content %}