{% extends 'base.html' %} {% load static %} {% block content %}

<!-- hero section -->
<section class="relative overflow-hidden h-[70vh] md:h-[70vh] lg:h-screen">
    <!-- carousel -->
    <div id="carouselSlides" class="h-full relative">
        <div class="carouselSlide absolute top-8 sm:top-0 w-full h-full">
            <div class="relative h-full">
                <img src="{% static 'temp/1.jpg.webp' %}" alt="background" class="object-cover w-full h-full" />
                <div
                    class="absolute top-0 left-0 w-full h-full grid bg-gradient-to-r from-[rgba(0,0,0,0.9)] to-[rgba(0,0,0,0.1)]">
                    <div class="container content text-white grid content-center h-full">
                        <h2 class="sm:text-6xl text-4xl font-bold uppercase text-primay-500">Construction</h2>
                        <p class="my-4 bg-white bg-opacity-10 w-fit md:max-w-[50%] text- px-4 py-2">
                            Constructions that stand strong among others. <br>
                            We build for generations to come
                        </p>
                        <a href="{% url 'services:main-page' %}#building" class="bg-primary-500 py-2 px-4 rounded-lg text-black w-fit">View more <i class="fas fa-arrow-right ml-4"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="carouselSlide absolute top-8 sm:top-0 w-full h-full">
            <div class="relative h-full">
                <img src="{% static 'temp/images (6).jpeg' %}" alt="background" class="object-cover w-full h-full" />
                <div
                    class="absolute top-0 left-0 w-full h-full grid bg-gradient-to-r from-[rgba(0,0,0,0.9)] to-[rgba(0,0,0,0.1)]">
                    <div class="container content text-white grid content-center h-full">
                        <h2 class="sm:text-6xl text-4xl font-bold uppercase text-primay-500">Interior Decoration</h2>
                        <p class="my-4 bg-white bg-opacity-10 w-fit md:max-w-[50%] text- px-4 py-2">
                            Bring your interior to life with quality work by our team of creative designers and
                            decorators
                        </p>
                        <a href="{% url 'services:main-page' %}#interior" class="bg-primary-500 py-2 px-4 rounded-lg text-black w-fit">View more <i class="fas fa-arrow-right ml-4"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="carouselSlide absolute top-8 sm:top-0 w-full h-full">
            <div class="relative h-full">
                <img src="{% static 'temp/electrical.jpeg' %}" alt="background" class="object-cover w-full h-full" />
                <div
                    class="absolute top-0 left-0 w-full h-full grid bg-gradient-to-r from-[rgba(0,0,0,0.9)] to-[rgba(0,0,0,0.1)]">
                    <div class="container content text-white grid content-center h-full">
                        <h2 class="sm:text-6xl text-4xl font-bold uppercase text-primay-500">Electrical Work</h2>
                        <p class="my-4 bg-white bg-opacity-10 w-fit md:max-w-[50%] text- px-4 py-2">
                            We offer electrical works like light and appliance installations
                        </p>
                        <a href="{% url 'services:main-page' %}#electrical" class="bg-primary-500 py-2 px-6 rounded-lg text-black w-fit">View more <i class="fas fa-arrow-right ml-4"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end carousel -->
</section>
<!-- intro -->
<section class="container mx-auto bg-primary-500 text-white py-8 lg:py-16 sm:translate-y-[-10%] lg:-translate-y-[25%] slide-in-left">
    <div class="lg:px-12 px-6 flex md:grid md:grid-cols-3 flex-col justify-center md:justify-between">
        <h2
            class="text-black text-lg text-center md:text-left md:col-span-2 mb-4 lg:mb-0 fade-in">
            We are a team of dedicated professionals committed to transforming ideas into reality. Established in 2017, our journey has been one of growth, innovation, and excellence in the fields of construction, engineering, and interior design.
        </h2>
        <button
            class="bg-white text-black rounded-lg py-2 px-6 mx-auto h-fit md:my-auto md:mx-0 md:ml-auto hover:bg-slate-200 w-max fade-in">
            <a href="#" class=""><i class="fas fa-phone-volume me-4"></i>Contact us now</a>
        </button>
    </div>
</section>
<!-- services -->
<section class="py-20 sm:py-0 sm:pb-20">
    <div class="container mx-auto px-4 py-16">
        <div class="grid gap-20">
            <!-- mechanical -->
            <article class="grid lg:grid-cols-2 lg:gap-8 group">
                <figure class="slide-in-top aspect-43 w-full h-full overflow-hidden rounded-l-xl relative">
                    <img src="{% static 'images/mechanical.webp' %}" class="object-cover w-full scale-105 group-hover:scale-100 transition-all duration-1000" alt="">
                    <!-- <div class="absolute top-0 left-0 bottom-0 right-0 bg-primary-500 bg-opacity-50 transition-all group-hover:bg-opacity-0"></div> -->
                </figure>
                <div class="text-left grid content-center">
                    <h3 class="fade-in font-extrabold text-primary-100 mt-2 mb-1 text-3xl">Mechanical Solutions</h3>
                    <p class="fade-in text-2xl font-extrabold mb-4 text-outline">Elevating Comfort and Efficiency</p>
                    <p class="fade-in max-w-2xl">
                        Experience the difference with our mechanical solutions. From intricate plumbing systems to advanced air conditioning installations, we're dedicated to improving air quality and operational efficiency. Our focus on energy-efficient systems and innovative energy management control ensures a sustainable and comfortable environment.
                    </p>
                    <div class="fade-in mt-8">
                        <a href="{% url 'services:main-page' %}#electrical" class="bg-primary-500 py-2 px-6 rounded-lg text-black w-fit"><i class="fas fa-wrench mr-4"></i>View more</a>
                    </div>
                </div>
            </article>
            <!-- electrical -->
            <article class="grid lg:grid-cols-2 lg:gap-8 group">
                <figure class="slide-in-top aspect-43 w-full h-full overflow-hidden rounded-r-xl relative lg:order-2">
                    <img src="{% static 'images/electrical2.webp' %}" class="object-cover w-full scale-105 group-hover:scale-100 transition-all duration-1000" alt="">
                    <!-- <div class="absolute top-0 left-0 bottom-0 right-0 bg-primary-500 bg-opacity-50 transition-all group-hover:bg-opacity-0"></div> -->
                </figure>
                <div class="text-left grid content-center justify-end">
                    <h3 class="fade-in font-extrabold text-primary-100 mt-2 mb-1 text-3xl">Electrical Expertise</h3>
                    <p class="fade-in text-2xl font-extrabold mb-4 text-outline">Powering Your Success</p>
                    <p class="fade-in max-w-2xl">
                        Our seasoned professionals bring forth a wealth of electrical expertise. With meticulous planning and execution, we provide safe and secure electrical installations that ensure uninterrupted services. From routine maintenance to reliable power backups, our comprehensive solutions cater to your electrical needs effectively.
                    </p>
                    <div class="fade-in mt-8">
                        <a href="{% url 'services:main-page' %}#electrical" class="bg-primary-500 py-2 px-6 rounded-lg text-black w-fit"><i class="fas fa-bolt mr-4"></i>View more</a>
                    </div>
                </div>
            </article>
            <!-- civil -->
            <article class="grid lg:grid-cols-2 lg:gap-8 group">
                <figure class="slide-in-top aspect-43 w-full h-full overflow-hidden rounded-l-xl relative">
                    <img src="{% static 'images/civil2.webp' %}" class="object-cover w-full scale-105 group-hover:scale-100 transition-all duration-1000" alt="">
                    <!-- <div class="absolute top-0 left-0 bottom-0 right-0 bg-primary-500 bg-opacity-50 transition-all group-hover:bg-opacity-0"></div> -->
                </figure>
                <div class="text-left grid content-center">
                    <h3 class="fade-in font-extrabold text-primary-100 mt-2 mb-1 text-3xl">Civil and Building Excellence</h3>
                    <p class="fade-in text-2xl font-extrabold mb-4 text-outline">Creating Foundations for Success</p>
                    <p class="fade-in max-w-2xl">
                        Embrace reliability and professionalism with our civil and building works. As a trusted partner, we excel in residential, commercial, and health center developments. Our commitment to quality craftsmanship, workplace safety, and timely project delivery sets us apart. With Conkaras, your vision becomes a reality built on solid foundations.
                    </p>
                    <div class="fade-in mt-8">
                        <a href="{% url 'services:main-page' %}#building" class="bg-primary-500 py-2 px-6 rounded-lg text-black w-fit"><i class="fas fa-building-columns mr-4"></i>View more</a>
                    </div>
                </div>
            </article>
            <!-- interior -->
            <article class="grid lg:grid-cols-2 lg:gap-8 group">
                <figure class="slide-in-top aspect-43 w-full h-full overflow-hidden rounded-r-xl relative lg:order-2">
                    <img src="{% static 'images/interior2.webp' %}" class="object-cover w-full scale-105 group-hover:scale-100 transition-all duration-1000" alt="">
                    <!-- <div class="absolute top-0 left-0 bottom-0 right-0 bg-primary-500 bg-opacity-50 transition-all group-hover:bg-opacity-0"></div> -->
                </figure>
                <div class="text-left grid content-center justify-end">
                    <h3 class="fade-in font-extrabold text-primary-100 mt-2 mb-1 text-3xl">Interior Elegance and Fit-outs</h3>
                    <p class="fade-in text-2xl font-extrabold mb-4 text-outline">Where Design Meets Functionality</p>
                    <p class="fade-in max-w-2xl">
                        Unlock the potential of your spaces with our interior decoration and fit-outs. Our creative team melds aesthetics and functionality seamlessly, transforming ordinary spaces into captivating environments. From concept to realization, our attention to detail ensures that each project reflects your unique style and requirements.
                    </p>
                    <div class="fade-in mt-8">
                        <a href="{% url 'services:main-page' %}#electrical" class="bg-primary-500 py-2 px-6 rounded-lg text-black w-fit"><i class="fas fa-brush mr-4"></i>View more</a>
                    </div>
                </div>
            </article>
        </div>
    </div>
</section>
<!-- why us -->
<section class="">
    <div class="container mx-auto flex flex-col-reverse sm:flex-row gap-8">
        <div class="grid flex-1">
            <h2 class="pop-in fade-in text-3xl text-center sm:text-left uppercase text-primary-100 font-bold">
                Why choose us for your next project !
            </h2>
            <p class="text-grey-600 fade-in mt-4 mb-8">
                When it comes to construction, engineering, and interior design, Conkaras Uganda Limited stands out for a multitude of reasons. Our unwavering commitment to excellence, combined with our innovative approach, makes us the ideal partner for your projects.
            </p>
            <ul class="grid gap-4">
                <li class="grid gap-0 fade-in rounded-md bg-grey-50 p-2">
                    <header class="flex gap-4">
                        <span class="grid content-center">
                            <i class="fas fa-circle-check text-primary-100"></i>
                        </span>
                        <span class="font-medium">Client-Centric Philosophy</span>
                    </header>
                    <p class="font-light pl-8">
                        Your goals are at the heart of everything we do
                    </p>
                </li>
                <li class="grid gap-0 fade-in rounded-md bg-grey-50 p-2">
                    <header class="flex gap-4">
                        <span class="grid content-center">
                            <i class="fas fa-circle-check text-primary-100"></i>
                        </span>
                        <span class="font-medium">Timely Delivery</span>
                    </header>
                    <p class="font-light pl-8">
                        Our reputation for on-time project delivery is a testament to our commitment to your success.
                    </p>
                </li>
                <li class="grid gap-0 fade-in rounded-md bg-grey-50 p-2">
                    <header class="flex gap-4">
                        <span class="grid content-center">
                            <i class="fas fa-circle-check text-primary-100"></i>
                        </span>
                        <span class="font-medium">Experienced Professionals</span>
                    </header>
                    <p class="font-light pl-8">
                        Our team comprises experienced professionals who are experts in their respective fields. 
                    </p>
                </li>
            </ul>
        </div>
        <figure class="flex-1 slide-in-left">
            <img src="{% static 'images/home-about.jpg' %}" alt="about us" class="h-full object-cover" />
        </figure>
    </div>
</section>
<!-- works -->
<section class="py-20">
    <div class="container mx-auto">
        <h2 class="text-3xl font-bold text-primary-100 uppercase text-center mb-8">Our Projects</h2>
        <div class="grid sm:grid-cols-2 xl:grid-cols-3 gap-16 sm:gap-8 px-2">
            {% for p in projects %}
            <article class="slide-in-top flex flex-col p-2">
                <img src="{{ p.project.thumbnail.url }}" alt="" class="object-cover aspect-video rounded-md" />
                <div class="flex-1 flex flex-col">
                    <h3 class= font-semibold my-2">{{ p.project.name }}</h3>
                    <p class="mb-3">{{ p.project.short_description }}</p>
                    <button class="text-primary-100 px-6 py-2 outline rounded-sm mt-auto w-fit">
                        <a href="{% url 'projects:detail' p.project.pk %}"><i class="fas fa-circle-arrow-right mr-4"></i>View Project 
                        </a>
                    </button>
                </div>
            </article>
            {% endfor %}
        </div>
    </div>
</section>
<!-- last call-to action -->
<section class="py-24 bg-primary-500 text-black">
    <div class="container text-center mx-auto">
        <h2 class="text-4xl uppercase font-bold fade-in">
            Explore Possibilities with Conkaras
        </h2>
        <p class="my-8 max-w-4xl mx-auto fade-in">
            Whether you're envisioning a grand construction project or seeking innovative interior design solutions,
            Conkaras Uganda Limited is your partner of choice. Join us in creating a future built on Structured
            Ingenuity. Contact us today to embark on a journey of excellence.
        </p>
        <button class="pop-in bg-white text-black rounded-lg text-lg py-4 px-8 hover:bg-slate-200">
            <a href="{% url 'contact:main-page' %}" class="">Contact us now</a>
        </button>
    </div>
</section>

{% endblock content %}


{% block scripts %}
<script>
    homepage = true
</script>
{% endblock scripts %}


