{% extends 'base.html' %}
{% load static %}


{% block content %}
<section class="relative mb-10 md:-mb-10 lg:-mb-40">
   <div class="bg-dark-100 h-64 sm:hidden"></div>
   <svg xmlns="http://www.w3.org/2000/svg"
      class="w-full scale-x-[2.2] translate-x-[-60%] sm:scale-100 sm:translate-x-0 sm:translate-y-0 -translate-y-1 origin-top md:scale-y-75"
      viewBox="0 0 1921.964 772.07">
      <path id="Path_66" data-name="Path 66"
         d="M3910.709,468.329,2869.224,562.49l-877.188-36.182,992.478,314.539,926.195-314.539Z"
         transform="translate(-1988.744 -68.778)" fill="#46e317" />
      <path id="Path_65" data-name="Path 65"
         d="M1988.744,69.137l1921.964-.359L3910.289,515l-1194.54,300.78-727-289.469Z"
         transform="translate(-1988.744 -68.778)" fill="#1e1e1e" />
   </svg>
   <div class="absolute top-0 left-0 w-full h-full md:pb-20 grid place-content-center">
      <h1
         class="text-6xl text-center font-bold text-white relative after:absolute after:w-1/2 after:h-1 after:bg-primary-500 after:-bottom-2 after:left-1/2 after:-translate-x-1/2">
         Our Services</h1>
   </div>
</section>

<main class="py-20">
   <div class="container mx-auto">
      <div class="grid md:grid-cols-2 gap-8 text-lg">
         <article id="mechanical" class="p-4 bg-white rounded-3xl">
            <img src="{% static 'temp/images (8).jpeg' %}" alt="" class="object-cover aspect-video w-full rounded-xl">
            <h2 class="text-xl font-bold my-6">Mechanical Works</h2>
            <p>
               The works include; installation of a system of pipes and drains in a building for the distribution of potable
               drinking water and the removal of waterborne wastes, and the skilled trade of working with pipes, tubing and
               plumbing fixtures in such systems, air conditioning installations, installation of new energy efficient systems.
               The company aims to improve air quality and efficiency while investing in energy management control systems.
            </p>
         </article>
         <article id="electrical" class="p-4 bg-white rounded-3xl">
            <img src="{% static 'temp/images (8).jpeg' %}" alt="" class="object-cover aspect-video w-full rounded-xl">
            <h2 class="text-xl font-bold my-6">Electrical Works</h2>
            <p>
               With the pool of skilled professionals at Conkaras, we offer an exotic range of electrical services to various
               organizations. With an in-depth knowledge and vast experience, our professionals visit the clients place, plan and
               install the service accordingly. Our services are intended to provide safe, secured and uninterrupted services. We
               diligently provide various on time electrical solutions, services and consultancy including maintenance, Voltage
               stabilizers, Power Backups…
            </p>
         </article>
         <article id="building" class="p-4 bg-white rounded-3xl">
            <img src="{% static 'temp/images (8).jpeg' %}" alt="" class="object-cover aspect-video w-full rounded-xl">
            <h2 class="text-xl font-bold my-6">Civil and Building Works</h2>
            <p>
               Building and Civil Engineering construction is a complex and costly process that can challenge first-time and
               experienced property owners equally. Whatever the scope or nature of the project, your success depends on choosing
               the right contractor. The right contractor offers experience, competitive pricing, financial strength,
               professionalism, integrity and a commitment to your project that is supported by quality and workplace safety
               initiatives without fail that is what Conkaras Uganda offers.
            </p>
            <h3 class="font-semibold mt-4">The Company specializes in:</h3>
            <ul class="mb-4">
               <li>Residential developments</li>
               <li>Commercial developments</li>
               <li>Health centers </li>
               <li>Retail and fit outs etc. </li>
            </ul>
            <p>
               We aim to be a quality provider to our clients through inspired manpower, progressive systems, innovative content
               & user-friendly technology.
            </p>
         </article>
         <article id="interior" class="p-4 bg-white rounded-3xl">
            <img src="{% static 'temp/images (8).jpeg' %}" alt="" class="object-cover aspect-video w-full rounded-xl">
            <h2 class="text-xl font-bold my-6">Interior Decoration and fit-outs</h2>
            <p>
               With the pool of skilled professionals at Conkaras, we offer an exotic range of electrical services to various
               organizations. With an in-depth knowledge and vast experience, our professionals visit the clients place, plan and
               install the service accordingly. Our services are intended to provide safe, secured and uninterrupted services. We
               diligently provide various on time electrical solutions, services and consultancy including maintenance, Voltage
               stabilizers, Power Backups…
            </p>
         </article>
      </div>
   </div>
</main>
{% endblock content %}
   