{% extends 'base.html' %}
{% load static %}


{% block content %}
<section class="relative mb-10 md:-mb-10 lg:-mb-40">
    <div class="bg-dark-100 h-64 sm:hidden"></div>
    <svg xmlns="http://www.w3.org/2000/svg"
        class="w-full scale-x-[2.2] translate-x-[-60%] sm:scale-100 sm:translate-x-0 sm:translate-y-0 -translate-y-1 origin-top md:scale-y-75"
        viewBox="0 0 1921.964 772.07">
        <path id="Path_66" data-name="Path 66"
            d="M3910.709,468.329,2869.224,562.49l-877.188-36.182,992.478,314.539,926.195-314.539Z"
            transform="translate(-1988.744 -68.778)" fill="#46e317" />
        <path id="Path_65" data-name="Path 65"
            d="M1988.744,69.137l1921.964-.359L3910.289,515l-1194.54,300.78-727-289.469Z"
            transform="translate(-1988.744 -68.778)" fill="#1e1e1e" />
    </svg>
    <div class="absolute top-0 left-0 w-full h-full md:pb-20 grid place-content-center">
        <h1
            class="text-6xl text-center font-bold text-white relative after:absolute after:w-1/2 after:h-1 after:bg-primary-500 after:-bottom-2 after:left-1/2 after:-translate-x-1/2">
            Our Services</h1>
    </div>
</section>

<main class="py-20">
    <div class="container mx-auto">
        <div class="grid md:grid-cols-2 gap-8">
            <article id="mechanical" class="p-4 bg-white rounded-md">
                <img src="{% static 'images/mechanical.webp' %}" alt=""
                    class="object-cover aspect-video w-full rounded-sm">
                <h2 class="font-bold my-3 text-lg">Mechanical Works</h2>
                <p>
                    Our mechanical expertise encompasses the installation of advanced systems that distribute potable
                    drinking water and manage waterborne waste removal. We excel in plumbing, utilizing our skills to
                    work with pipes, tubing, and plumbing fixtures. Additionally, our proficiency extends to air
                    conditioning installations, focusing on energy-efficient systems that enhance air quality and
                    operational efficiency. We're dedicated to investing in cutting-edge energy management control
                    systems for a sustainable future.
                </p>
            </article>
            <article id="electrical" class="p-4 bg-white rounded-md">
                <img src="{% static 'images/electrical.webp' %}" alt=""
                    class="object-cover aspect-video w-full rounded-sm">
                <h2 class="font-bold my-3 text-lg">Electrical Works</h2>
                <p>
                    At Conkaras, our highly skilled professionals provide an array of comprehensive electrical services
                    to diverse organizations. Drawing on extensive knowledge and experience, our experts meticulously
                    plan and execute electrical installations, ensuring safety, security, and uninterrupted services.
                    From timely solutions to maintenance and power backups, our services are designed to meet your
                    electrical needs effectively and efficiently.
                </p>
            </article>
            <article id="building" class="slide-in-top p-4 bg-white rounded-md">
                <img src="{% static 'images/civil.webp' %}" alt=""
                    class="object-cover aspect-video w-full rounded-sm">
                <h2 class="font-bold my-3 text-lg">Civil and Building Works</h2>
                <p>
                    Navigating the complexities of building and civil engineering projects requires a reliable and
                    experienced partner. Conkaras Uganda Limited stands as a beacon of trust, offering a wide spectrum
                    of construction solutions. Whether it's residential developments, commercial projects, health
                    centers, or retail fit-outs, we have the expertise to deliver. Our commitment to professionalism,
                    integrity, quality, and workplace safety sets us apart, making us the contractor of choice for
                    successful outcomes.
                </p>
            </article>
            <article id="interior" class="slide-in-top p-4 bg-white rounded-md">
                <img src="{% static 'images/interior.webp' %}" alt=""
                    class="object-cover aspect-video w-full rounded-sm">
                <h2 class="font-bold my-3 text-lg">Interior Decoration and fit-outs</h2>
                <p>
                    Transforming spaces into captivating havens of design and functionality is our specialty. Conkaras'
                    team of skilled professionals is dedicated to enhancing interior spaces with creativity and
                    precision. From conceptualization to execution, our experts meticulously plan and implement interior
                    decoration and fit-outs that align with your vision. With a focus on detail, aesthetics, and
                    functionality, we create spaces that inspire and captivate.
                </p>
            </article>
        </div>
    </div>
</main>

<section class="bg-primary-500 py-20">
    <div class="container mx-auto">
        <div class="grid lg:max-w-4xl mx-auto">
            <p class="fade-in text-center">
                At Conkaras Uganda Limited, we're more than just service providers – we're your partners in realizing your vision. With a commitment to excellence, innovation, and client-centered solutions, we're dedicated to delivering results that stand the test of time. <br>Experience the Conkaras difference today.
            </p>
            <p class="fade-in text-center pt-8">
                Contact us to embark on a journey of exceptional construction, engineering, and interior design solutions that redefine industry standards.
            </p>
            <button class="pop-in mt-8 bg-white text-black rounded-lg py-4 px-8 mx-auto w-fit hover:bg-lime-100">
                <a href="{% url 'contact:main-page' %}" class="">Contact us now</a>
            </button>
        </div>
    </div>
</section>
{% endblock content %}