{% load static %}
<header class="bg-white shadow-md">
   <div class="container mx-auto px-4 py-6 flex items-center justify-between">
      <a href="/" class="flex"><img src="{% static 'images/logo.jpg' %}" alt="Conkaras logo" class="w-16">
      <strong class="font-bold my-auto text-4xl text-green-900">CONKARAS</strong></a>
      <nav>
         <ul class="hidden sm:flex items-center">
            <li class="mr-6"><a href="/" class="text-gray-800 hover:text-indigo-600">Home</a></li>
            <li class="mr-6"><a href="{% url 'about:main-page' %}" class="text-gray-800 hover:text-indigo-600">About</a></li>
            <li class="mr-6"><a href="{% url 'services:main-page' %}" class="text-gray-800 hover:text-indigo-600">Services</a></li>
            <li class="mr-6"><a href="{% url 'projects:list' %}" class="text-gray-800 hover:text-indigo-600">Projects</a></li>
            <li class="mr-6"><a href="{% url 'contact:main-page' %}" class="text-gray-800 hover:text-indigo-600">Contact</a></li>
         </ul>
         <a href="#" class="sm:hidden fill-green-900">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" class="h-8">
               <!--! Font Awesome Free 6.1.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free (Icons: CC BY 4.0, Fonts: SIL OFL 1.1, Code: MIT License) Copyright 2022 Fonticons, Inc. -->
               <path
                  d="M0 96C0 78.33 14.33 64 32 64H416C433.7 64 448 78.33 448 96C448 113.7 433.7 128 416 128H32C14.33 128 0 113.7 0 96zM0 256C0 238.3 14.33 224 32 224H416C433.7 224 448 238.3 448 256C448 273.7 433.7 288 416 288H32C14.33 288 0 273.7 0 256zM416 448H32C14.33 448 0 433.7 0 416C0 398.3 14.33 384 32 384H416C433.7 384 448 398.3 448 416C448 433.7 433.7 448 416 448z" />
            </svg>
         </a>
      </nav>
   </div>
</header>