:root {
   --color-dark: #1a1a1a;
   --color-dark-1: #222222;
   --color-dark-2: #282828;
   --color-light: #fafafa;

   --rem-1: 1rem;
   --rem-12: 1.2rem;
   --rem-2: 2rem;
}

* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}

.flex {
   display: flex;
}

.grid {
   display: grid;
}

a {
   color: var(--color-light);
   text-decoration: none;
}

body {
   display: grid;
   grid-template-areas:
      "side top"
      "side content";
   grid-template-columns: auto 1fr;
   grid-template-rows: auto 1fr;
   background-color: var(--color-dark);
   color: var(--color-light);
   font-size: var(--rem-12);
   font-family: Poppins;
}

#side-bar {
   grid-area: side;
   background-color: var(--color-dark-1);
   height: 100vh;
   width: 250px;
   header {
      padding: 2rem 0;
      border-bottom: 4px var(--color-dark-2) solid;
      text-align: center;
      h2 {
         font-size: var(--rem-12);
         svg {
            height: var(--rem-12);
            fill: var(--color-light);
            margin-right: 0.5rem;
         }
      }
      a {
         font-size: var(--rem-1);
      }
   }
   ul {
      display: grid;
      li {
         padding: 1rem;
         border-bottom: 4px var(--color-dark-2) solid;
      }
   }
}

#top-bar {
   grid-area: top;
   background-color: var(--color-dark-1);
   padding: 0.5rem;
   .flex {
      justify-content: space-between;
      ol {
         display: flex;
         list-style: none;
         gap: 1rem;
         li:not(:last-of-type) {
            &:after {
               content: "/";
               padding-left: 1rem;
            }
         }
      }
   }
}

#content {
   grid-area: content;
   padding-left: var(--rem-12);
   padding-top: var(--rem-12);
   overflow-y: auto;
}
